<!-- FILEPATH: /home/ycarorailsrb/Agenda/contact_list/app/views/static_pages/contato.html.erb -->

<h1>Entre em contato com Ycaro Pires</h1>
<p>Entre em contato comigo através do email ycaro@example.com ou pelo telefone (XX) XXXX-XXXX.</p>
