<!-- FILEPATH: /home/ycarorailsrb/Agenda/contact_list/app/views/static_pages/sobre.html.erb -->

<h1>Sobre</h1>

<p>Este app foi criado com o intuito de aprender sobre o framework ruby on rails, criando uma contact list.</p>
