
<footer class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 My Website</p>
      </div>
      <div class="col-md-6 text-md-end">
        <ul class="list-inline">
          <li class="list-inline-item"><%= link_to 'Política de privacidade'%></li>
          <li class="list-inline-item"> <%= link_to 'Termos de Uso'%> </li>
          <li class="list-inline-item"> <%= link_to 'Sobre', sobre_path%> </li>
          <li class="list-inline-item"> <%= link_to 'Contato', contato_path%> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
